<div id="fab-wrapper" class="">

    <a class="btn btn-primary btn-fab hid" id="fab" class="" ng-click="toggleMenu()">
        <i class="material-icons">+</i>
    </a>

    <div class="btn-group-vertical" id="fab-menu" >
        <div class="panel panel-error" style="margin-bottom: 0;">
            <div class="panel-body">
              <h4>Create</h4>
            </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-raised" ng-click="closeMenu()" ui-sref="invoices.edit({invoiceId: 'new'})">Invoice</a>
        <a href="javascript:void(0)" class="btn btn-raised" ng-click="closeMenu()" ui-sref="customers.edit({customerId: 'new'})">Customer</a>
        <a href="javascript:void(0)" class="btn btn-raised" ng-click="closeMenu()" ui-sref="products.edit({productId: 'new'})">Product</a>
    </div>
</div>
