<div id="fab-wrapper" class="">

    <a class="btn btn-primary btn-fab hid" id="fab" class="" ng-click="toggleMenu()">
        <i class="material-icons">+</i>
    </a>

    <div class="btn-group-vertical" id="fab-menu" >
        <div class="panel panel-error" style="margin-bottom: 0;">
            <div class="panel-body">
              <h4>Create new</h4>
            </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-raised">Invoice</a>
        <a href="javascript:void(0)" class="btn btn-raised">Customer</a>
        <a href="javascript:void(0)" class="btn btn-raised">Product</a>
    </div>
</div>
