/*
    Floating button
*/

#fab {
    position: fixed;
    right: 4vw;
    bottom: 6vh;
    opacity: 1;
    transform: rotate(0deg) scale(1, 1);
    transition: transform .2s ease-in, opacity .2s ease-in;
}

#fab.hid {
    opacity: 0;
    transform: rotate(90deg) scale(0.3, 0.3);
    transition: transform .2s ease-in, opacity .2s ease-in;
}

#fab-wrapper.menu-open #fab {
    transform: rotate(-90deg);
    opacity: 1;
    transition: transform .2s ease-in;
}


/*
  Menu
*/

#fab-wrapper #fab-menu {
    position: fixed;
    right: 8vw;
    bottom: 12vh;
    opacity: 0;
    transform: translateY(230px);
    transition: transform .2s ease-in, opacity .2s ease-in;
}

#fab-wrapper.menu-open #fab-menu {
    opacity: 1;
    transform: translateY(0px);
    bottom: 11vh;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.17), 0 2px 20px 0 rgba(0, 0, 0, 0.15);
    transition: transform .2s ease-out, opacity .2s ease-out;
}


/*
  Icon
*/

#fab-wrapper #fab i {
    font-style: normal;
    transform: rotate(0) transition: transform .2 ease-in;
}

#fab-wrapper.menu-open #fab i {
    font-style: normal;
    transform: rotate(-90deg) transition: transform .2 ease-out;
}

/*
  Label and buttons
*/
#fab-wrapper h4 {
    margin: 0;
    text-align: center;
    font-weight: 500;
}

#fab-menu .btn-raised {
  background-color: #fff !important;
}
